<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kookeries.shop">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name="com.kookeries.shop.ui.activities.HomeActivity" />
        <activity
            android:name="com.kookeries.shop.ui.activities.CatalogActivity"
            android:parentActivityName="com.kookeries.shop.ui.activities.HomeActivity" />
        <activity android:name="com.kookeries.shop.ui.activities.ProductActivity" />
        <activity
            android:name="com.kookeries.shop.ui.activities.CartActivity"
            android:theme="@style/AppThemeWhite" />
        <activity android:name="com.kookeries.shop.ui.activities.LoginActivity" />
        <activity android:name="com.kookeries.shop.ui.activities.RegisterActivity" />
        <activity android:name="com.kookeries.shop.ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kookeries.shop.ui.activities.SellerDashboardActivity"
            android:parentActivityName="com.kookeries.shop.ui.activities.HomeActivity"
            android:theme="@style/AppThemeWithDarkStatusBar" />
        <activity
            android:name="com.kookeries.shop.ui.activities.SellerProductsActivity"
            android:parentActivityName="com.kookeries.shop.ui.activities.SellerDashboardActivity"
            android:theme="@style/AppThemeWithDarkStatusBar" />
        <activity
            android:name="com.kookeries.shop.ui.activities.SellerOrdersActivity"
            android:parentActivityName="com.kookeries.shop.ui.activities.SellerDashboardActivity"
            android:theme="@style/AppThemeWithDarkStatusBar" />
        <activity
            android:name="com.kookeries.shop.ui.activities.SellerProductNewActivity"
            android:parentActivityName="com.kookeries.shop.ui.activities.SellerDashboardActivity"
            android:theme="@style/AppThemeWithDarkStatusBar" />
    </application>

</manifest>